<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link " (click)="logout()"  style="cursor:pointer"> LogOut</a>
    </li>
  </ul>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2">
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['your-tasks']" >Your Tasks</a>
          <a class="nav-link" href="#">Team Tasks</a>
          <a class="nav-link" href="#">Messages</a>
        </div>
    </div>
      <div class="col-12 col-md-10">
        <router-outlet></router-outlet>
      </div>


      
    
  </div>
</div>
