<h1>ADD TASK</h1>
<div class="container" >
<form (ngSubmit)="onAddTask(f)" #f="ngForm">
    <div>
        <mat-form-field>
            <input name="title" matInput placeholder="Title" ngModel required>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <textarea name="description" matInput placeholder="Description" ngModel required></textarea>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="State" ngModel name="state" #hell="ngModel" required>
              <mat-option value="ongoing" selected>On Going</mat-option>
              <mat-option value="onhold">On Hold</mat-option>
              <mat-option value="urgent">Urgent</mat-option>
              <mat-option value="today">Today</mat-option> 
              <mat-option value="completed">Completed</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
      <div>
        <button mat-raised-button type="submit">ADD</button>
        <button mat-raised-button mat-dialog-close="close">CLOSE</button>
      </div>
    
</form>



</div>