
<button type="button" class="btn btn-outline-info">Add Task</button>
<br><br>
<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your email" required>
  </mat-form-field>
  <button mat-button color="primary">Primary</button>
</div> -->


              <div class="task-group" >
                  <div  class="task-category">
                    On Going Tasks
                  </div>
                  <span class="task-item"  
                  [dragula]='"bag-one"' 
                  [dragulaModel]='ongoingTasks' 
                  id="ongoing">
                  <a  mat-button
                  *ngFor="let task of ongoingTasks"  
    
                  [id]="task._id">{{task.title}}</a>
                </span>
                </div>



          <div class="task-group"  >
            <a  class="task-category">
              On Hold Tasks
            </a>
            <span 
            class="task-item"  
            [dragula]='"bag-one"' 
            [dragulaModel]='onholdTasks'
            id="onhold">
            <a  mat-button
            *ngFor="let task of onholdTasks" 
            [id]="task._id"  
            >{{task.title}}</a>
          </span>
          </div>

          <div class="task-group"  >
            <a  class="task-category">
              Uergent Tasks
            </a>
            <span 
            class="task-item"  
            [dragula]='"bag-one"' 
            [dragulaModel]='urgentTasks'
            id="urgent">
            <a  mat-button
            *ngFor="let task of urgentTasks"   
            [id]="task._id">{{task.title}}</a>
          </span>
          </div>
          <div class="task-group"  >
            <a  class="task-category">
              Today Tasks
            </a>
            <span 
            class="task-item"  
            [dragula]='"bag-one"' 
            [dragulaModel]='todayTasks'
            id="today">
            <a  mat-button
            *ngFor="let task of todayTasks"   
            [id]="task._id">{{task.title}}</a>
          </span>
          </div>
          <div class="task-group"  >
            <a  class="task-category">
             Completed
            </a>
            <span 
            class="task-item"  
            [dragula]='"bag-one"' 
            [dragulaModel]='completedTasks'
            id="completed">
            <a  mat-button
            *ngFor="let task of completedTasks"   
            [id]="task._id">{{task.title}}</a>
          </span>
          </div>



